/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# WP Content
# Custom Editor UI
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
  color: #777;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Helvetica Neue", "Arial", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #222;
  font-family: "Helvetica Neue", "Arial", sans-serif; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit; }

h1 {
  font-size: 1.625em;
  line-height: 1.2; }

h2 {
  font-size: 1.5em;
  line-height: 1.3; }

h3 {
  font-size: 1.375em;
  line-height: 1.4; }

h4 {
  font-size: 1.25em;
  line-height: 1.6; }

h5 {
  font-size: 1.125em;
  line-height: 1.6; }

h6 {
  font-size: 0.875em;
  line-height: 1.7; }

a {
  color: #FF7171;
  text-decoration: none; }
  a:hover, a:active {
    color: #222;
    outline: 0; }

b,
strong {
  color: #222; }

dfn,
cite,
em,
i {
  font-style: italic; }

code,
kbd,
tt,
var,
pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 93%; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

::-moz-selection {
  color: #fff;
  background: #FF7171; }

::selection {
  color: #fff;
  background: #FF7171; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 30px 0 30px;
  margin: 1.875rem 0 1.875rem; }

p {
  margin-top: 15px;
  margin-top: 0.9375rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem; }

blockquote {
  margin: 0;
  border-left: 3px solid #FF7171;
  padding-left: 30px;
  padding-left: 1.875rem;
  font-size: 1.2em;
  color: #848484; }

blockquote,
q {
  quotes: "" ""; }
  blockquote:before, blockquote:after,
  q:before,
  q:after {
    content: ""; }

address {
  margin: 0 0 30px;
  margin: 0 0 1.875rem; }

pre {
  background: #eee;
  margin-bottom: 1.875em;
  max-width: 100%;
  overflow: auto;
  padding: 1.875em; }

hr {
  background-color: #eee;
  border: 0;
  height: 1px;
  margin: 30px 0;
  margin: 1.875rem 0; }

ul,
ol {
  margin: 0 0 30px 0;
  margin: 0 0 1.875rem 0;
  padding-left: 30px;
  padding-left: 1.875em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0; }

dt {
  font-weight: bold;
  margin-bottom: 30px;
  margin-bottom: 1.875rem; }

dd {
  margin: 0 30px 30px;
  margin: 0 1.875rem 1.875rem; }

embed,
iframe,
object,
figure,
img {
  max-width: 100%;
  /* Adhere to container width. */
  border: 0; }

object,
figure,
img {
  height: auto;
  /* Make sure images are scaled correctly. */ }

figure {
  margin: 0; }

table {
  margin: 0 0 30px;
  margin: 0 0 1.875rem;
  width: 100%; }

th,
td {
  padding: 10px 20px;
  border-bottom: 1px solid #eee; }

th {
  text-align: left; }

thead {
  background-color: #f9f9f9;
  border: 1px solid #eee; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea,
fieldset {
  font-size: 1em; }

fieldset {
  border: 1px solid #eee;
  margin: 0;
  padding: 2.5rem; }

legend {
  color: #222;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 700; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  border: 0;
  color: #777;
  background-color: #fff;
  box-shadow: 0 0 1px #888;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    outline: 0;
    box-shadow: 0 0 1px #3c3c3c;
    color: #222; }
  input[type="text"]:disabled,
  input[type="email"]:disabled,
  input[type="url"]:disabled,
  input[type="password"]:disabled,
  input[type="search"]:disabled,
  input[type="number"]:disabled,
  input[type="tel"]:disabled,
  input[type="range"]:disabled,
  input[type="date"]:disabled,
  input[type="month"]:disabled,
  input[type="week"]:disabled,
  input[type="time"]:disabled,
  input[type="datetime"]:disabled,
  input[type="datetime-local"]:disabled,
  input[type="color"]:disabled,
  textarea:disabled {
    color: #999; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select {
  padding: 15px 20px;
  padding: 0.9375rem 1.25rem;
  width: 220px;
  max-width: 100%; }

textarea {
  padding: 15px 20px;
  padding: 0.9375rem 1.25rem;
  width: 100%; }

/*------------------------------------------------------------------------------
# WP Content
------------------------------------------------------------------------------*/
/*
## Alignments
--------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 32px;
  margin-right: 2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem; }

.alignright {
  display: inline;
  float: right;
  margin-left: 32px;
  margin-right: 2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*
## Caption
--------------------------------*/
.wp-caption {
  margin-bottom: 32px;
  margin-bottom: 2rem;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto; }

.wp-caption-text {
  text-align: center; }

.wp-caption .wp-caption-text {
  color: #999;
  font-style: italic;
  font-size: 0.875em;
  margin: 5px 0;
  margin: 0.3125rem 0; }

/*
## WP Gallery (shortcode)
--------------------------------*/
.gallery {
  margin-bottom: 32px;
  margin-bottom: 2rem; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin-bottom: 32px;
  margin-bottom: 2rem; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block;
  font-size: 85%;
  font-style: italic;
  padding: 5px; }

.gallery-icon a {
  line-height: 0; }
  .gallery-icon a:after {
    height: 0; }

.gallery-icon img {
  margin-bottom: 0;
  vertical-align: bottom; }

.gallery-item .gallery-icon {
  padding: 1px; }

/*--------------------------------------------------------------
# Editor only styles
--------------------------------------------------------------*/
html {
  padding: 40px;
  padding: 2.5rem; }

p {
  border-top: 1px dashed #e9e9e9;
  border-bottom: 1px dashed #e9e9e9; }

.mceTemp {
  margin-bottom: 30px;
  margin-bottom: 1.875rem; }

/* .wp-caption .wp-caption-text for editor */
.wp-caption-dt {
  margin: 0; }

.wp-caption-dd {
  color: #999;
  font-style: italic;
  font-size: 0.875em;
  margin: 5px 0;
  margin: 0.3125rem 0;
  padding: 0; }
