/*-----general--------------------------------------------------------*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong,sup, sub, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup { margin: 0; padding: 0; border: 0; outline: 0; font-weight:inherit; font-style: inherit; font-size: 100%; vertical-align: baseline;}
:focus, a:active, a:hover {outline: 0;}
body { line-height: 1; color: black; background: white;}
ol, ul { list-style: none;}
table { border-collapse: separate;border-spacing: 0;}
caption, th, td { text-align: left; font-weight: normal;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

@font-face {
    font-family: "RotisSansSerifStd";
    src: url("../fonts/RotisSansSerifStd.ttf");
}
@font-face {
    font-family: "FagoNo";
    src: url("../fonts/FagoNo.ttf");
}
@font-face {
    font-family: "FagoNo-Italic";
    src: url("../fonts/FagoNo-Italic.ttf");
}
@font-face {
    font-family: "FagoNo-Bold";
    src: url("../fonts/FagoNo-Bold.ttf");
}



body{color:#000; font-size:12px;font-family:"FagoNo", Verdana, Geneva, sans-serif;}
.wrapper{width:100%;margin:0 auto;padding:0 0 2%;max-width:800px;}

	
.sel{color:#000  !important;font-weight:bold; text-decoration:underline !important;}
.clear{clear:both;}
img{-ms-interpolation-mode:bicubic;}
em{font-family:"FagoNo-Italic";font-style:italic;}
strong{font-family:"FagoNo-Bold"; font-weight:bold;}
a{text-decoration:none;color:#999; cursor:pointer;}
a:hover{color:#404d7e;}

.screen{display:block;}
.mov{display:none;}

#content{padding:12% 0 2%;}
.content_top{padding-top:14% !important;}

h1 a img{width:10%; float:left;margin:1% 0;}
h2{margin:0 0 1% 0;font-size:1.5em; display:inline;}	
h3{display:inline;font-size:1.5em;color:#999;}	
 
.header, .footer{position:fixed; z-index:1; background:url(../img/header_bg.png); width:100%;max-width:800px;} 
	
.footer{font-size:.9em;padding:1% 0;bottom:0px;}	
	
	.footer ul{margin-left:2%;}
	.footer ul li{float:left;}	
	.footer .credits{float:right;color:#999;margin-right:2%;}
	.footer .credits a{color:#999;}
 
#menu{font-family:"RotisSansSerifStd";float:right;margin:3% 1% 0 0;font-size:1.2em; }
	#menu li a{text-decoration:none; font-size:1em;}
	
figure.vid_img{width:96%;padding-left:2%;margin-bottom:4% !important;}	
figure.vid_img img, figure.vid_img iframe{margin-bottom:2% !important;}	

span.pic_foot{display:block;padding-bottom:2%; clear:both;}

.txt{width:96%;padding:0 2% 2%;line-height:20px;text-align:right;}
.txt p{padding:0 0 1%;}	
.txt a{text-decoration:underline;}		


.about div.img_about{float:left; width:40%;padding:0 0 20px 2%;}
.about div.img_about img{width:100%; margin-bottom:2%;}
.about .txt_about{padding:0 2%; width:54%;float:left;line-height:20px;}
.about .txt_about a{text-decoration:underline;}

.contact img{float:left; width:25%;}
.contact .txt_contact{ width:70%;float:left;line-height:20px;}
.contact .txt_contact a{text-decoration:underline;}

.youtube{width:40%; float:left;}
.youtube_txt{width:56%;float:left;clear:none;padding:0 2% 80px;}
	
/*menu_thumb*/



.menu_thumb{width:96%;margin:0 2%;}
.thumb_top{margin-top:0 !important;}
.menu_thumb li{width:25%;position:relative;float:left;overflow:hidden;margin-bottom:-2px;}
	
.menu_thumb li img, .menu_thumb_4 li img{width:100%;opacity:0.5;-webkit-transition: all .5s ease-out;-moz-transition: all .5s ease-out;transition: all .5s ease-out;}
	
#on img{opacity:1 !important;}
#on img:hover{opacity:0.5 !important;}

.menu_thumb li img:hover{opacity:1;-webkit-transition: all .5s ease-out;-moz-transition: all .5s ease-out;transition: all .5s ease-out;}

.menu_thumb li a div.caption{background:rgba(0,0,0,0.5);height:auto;position:absolute;margin-top:-70px; line-height:1.1em;padding:5px 15px;opacity:0;-webkit-transition: all .5s ease-out;-moz-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;}
				
.menu_thumb li a:hover div.caption{opacity:1;-webkit-transition: all .5s ease-out;-moz-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;}
			
.menu_thumb li a div.caption strong{display:block;color:#FFF;margin-bottom:5px;font-size:1.1em;}
.menu_thumb li a div.caption span{color:#999;}
.menu_thumb li a div.caption span.broadcaster{color:#DDD;font-size:.9em;}

	
/*movil*/

@media(max-width:720px) {
	
.header, .footer{max-width:1200px;} 
.wrapper{max-width:1200px;}
	
#content{padding:10% 0 4%;}

.header{ background:none;}
.footer{padding:2% 0 !important;}

h1{margin:0 0 1% 0;}
h1 a img{width:12%;}
h2, h3{display:block;font-size:1.2em !important; font-weight:bold;}	


.mov{display:block;}
.screen{display:none;}

.txt{ margin-top:15px;}	
.txt p{padding:0 0 2%;}	
#menu_btn{ text-align: center;  width: 100%;  display: block;  padding: 10px 0; }
	#menu_btn a{text-decoration: none; background-color: #7F7F7F;  color:#E2E2E2; padding:0 5px;}

.go_to_main_menu a span{font-size:20px; text-align:center; display:block; bottom:10px; width:100%; height:30px;}

.youtube{width:100%; float:none;}
.youtube_txt{width:auto;float:none;}


.about div.img_about{float:left; width:96%;padding:0 0 2% 2%;}
.about img{float:none; width:100%;margin:0 0 5% 0;}
.about .txt_about{width:96%;}

.contact img{width:45%;margin:0 0 5% 0;}
.contact .txt_contact{width:50%;}

.none{display:none;}
		
	
}


@media only screen and (max-width: 450px) {
h1{margin:1% 0 1% 1%;}
h1 a img{width:15%;}
#content{padding:12% 0 4%;}
.menu_thumb li{width:50%;}
}
