@charset "UTF-8";

.fixed {position: fixed; width: 100%;top: 0;left: 0;}

.nav-collapse,.nav-collapse * { -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box;}

.nav-toggle {position: fixed;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;text-decoration: none;text-indent: -999px;position: relative;overflow: hidden;width: 35px;height: 35px;float: right;margin-top:1.5%;}

.nav-toggle:before { color:#999; font-family:'Open Sans Condensed', sans-serif;font-style: normal;  font-weight: bold;font-variant: normal;  font-size: 40px;text-transform: none;  position: absolute;content: "≡";  text-indent: 0;lspeak: none;  width: 100%;top: 0;  left: 0;}


.nav-toggle.active::before {font-size: 24px;content:"^";}

/*movil*/

@media(max-width:720px) {
.nav-collapse ul#menu{padding:7% 0 2% 5%;margin-top:-3%;width:100%; float:left;background:url(../img/recursos/header_bg.png);}
.nav-collapse ul#menu li{display:inline; float:left;margin-left:1%;}
 .nav-collapse a {float: left;padding:10px 4%; }
}

@media only screen and (max-width: 450px) {
.nav-collapse,.nav-collapse ul, .nav-collapse li, .nav-collapse a {width:100%;}
 .nav-collapse a {width:100%; float: left;padding: 1em 0; }
}

@media screen and (min-width:720px) { 

	.nav-collapse ul {padding:15px 0 10px;}
	.nav-collapse ul#menu{}
	.nav-collapse li {display:inline;}
	.nav-collapse a {text-decoration: none;  font-size:1.1em;padding: 1em;}
}



